{% extends "bootstrap/base.html" %}

{% block title %}
Artifacts - AP Bio e-portfolio
{% endblock %}

{% block metas %}
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/default.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/layout.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/media-queries.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/magnific-popup.css')}}">
<link rel="shortcut icon" href="{{url_for('.static', filename='favicon.png')}}" >
{% endblock %}

{% block content %}
<script src="{{url_for('.static', filename='js/modernizr.js')}}"></script>
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li><a class="smoothscroll" href="/">Home</a></li>
            <li><a class="smoothscroll" href="/#introduction">Introduction</a></li>
	         <li><a class="smoothscroll" href="/experiment">Experiment</a></li>
            <li class="current"><a class="smoothscroll" href="/artifacts">Artifacts</a></li>
            <li><a class="smoothscroll" href="/reflections">Reflections</a></li>
         </ul>
      </nav>

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Artifact: <br />Experimental Design</h1>
         </div>
      </div>
   </header>
   <section id="introduction">
      <div class="row">
         <div class="three columns main-col">
            <table>
               <tr>
                  <th>Artifact Links</th>
               </tr>
               <tr>
                  <td><a href="/artifacts/exp_evidence">Experimental Evidence</a></td>
               </tr>
               <tr>
                  <td><a href="/artifacts/sudden_insight">Sudden Insight</a></td>
               </tr>
               <tr>
                  <td><a href="/artifacts/exp_design">Experimental Design</a></td>
               </tr>
               <tr>
                  <td><a href="/artifacts/failed_exp">Failed Experiment</a></td>
               </tr>
               <tr>
                  <td><a href="/artifacts/elusive_topic">"Elusive" Topic</a></td>
               </tr>
               <tr>
                  <td><a href="/artifacts/favorite_topic">Favorite Topic</a></td>
               </tr>
               <tr>
                  <td><a href="/artifacts/everyday_life">Biology to Everyday Life</a></td>
               </tr>
               <tr>
                  <td><a href="/artifacts/interrelated">Interrelated Topics</a></td>
               </tr>
               <tr>
                  <td><a href="/artifacts/math">Math in Biology</a></td>
               </tr>
            </table>
         </div>
         <div class="nine columns main-col">
            <h2><center>Experimental Design to Test a Hypothesis:<br />CO<sub>2</sub> Experimental Inquiry</center></h2>
            <hr />
            <img src="{{url_for('.static', filename='images/exp_design_new.jpg')}}">
            <hr />
            <h2><center>Expaination:</center></h2>
            <p>
               The artifact that represents my best example of an experimental design to test a hypothesis is the CO<sub>2</sub>
               Experimental Inquiry lab. In this lab, we were working on the scientific process and the general lab safety procedures
               and precautions. Everyone had a partner and we had to design a lab to test the CO<sub>2</sub> output before and after
               different tasks. Before the tasks, we would fill a beaker with water and Bromthymol Blue (an indicator), then using a
               straw, breathe a full breath into the beaker. The CO<sub>2</sub> that was coming from the breath would mix with the water
               and make a weak carbonic acid. We would record the color the BTB changed as this tells us relatively how much CO<sub>2</sub>
               was produced. We would then do our task, then repeat the steps to get the BTB color. My groups task was playing a piece of
               music on a trumpet at different tempos to see if out CO<sub>2</sub> output would be changed. Our hypothesis was that the faster
               the tempo, the more CO<sub>2</sub> the person would produce after playing. Our results showed that playing the trumpet did
               increase the rate of CO<sub>2</sub> production, but differing tempos played had little effect on the rate.
            </p>
            <p>
               I chose this artifact as the best example because all my other inquiry labs this semester had a flaw in them or the did
               not work as expected, as in we had complications and modified the experiment halfway through. This lab also gave me a
               general idea how to design my own experiments and carry them out by myself. This was an incredibly important skill to
               learn as many labs also had an inquiry. Although we had not started on actual biology yet, this was a way to get our
               feet wet with cellular respiration also as it had to deal with CO<sub>2</sub> output rates.
            </p>
         </div>


      </div>
   </section>
{% endblock %}
