{% extends "bootstrap/base.html" %}

{% block title %}
Introduction - AP Bio e-portfolio
{% endblock %}

{% block metas %}
<meta charset="utf-8">
<meta name="description" content="My AP Biology final project. An e-portfolio with artifacts
				  from the class and a record of my final project. My final 
				  project involves the flu virus and the BLAST program to 
				  mess with the sequence of the DNA in the flu virus.">
<meta name="author" content="Mason Weaver">
<meta name="keywords" content="AP Biology, Biology, Final Project, blasting flu virus, mason weaver,
			       Advanced Placement Biology Final Project">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/default.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/layout.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/media-queries.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/magnific-popup.css')}}">
<link rel="shortcut icon" href="{{url_for('.static', filename='favicon.png')}}" >
{% endblock %}

{% block content %}
<script src="{{url_for('.static', filename='js/modernizr.js')}}"></script>
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="/">Home</a></li>
            <li><a class="smoothscroll" href="#introduction">Introduction</a></li>
	         <li><a class="smoothscroll" href="/experiment">Experiment</a></li>
            <li><a class="smoothscroll" href="/artifacts">Artifacts</a></li>
         </ul>

      </nav>

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">AP Bio Final Project<br /> E-portfolio</h1>
		 <p>Work in Progress</p>
         </div>
      </div>

   </header>
   <section id="introduction">

      <div class="row">

         <div class="six columns main-col">

            <h2>Introduction</h2>

            <p>My name is Mason and this e-portfolio is for an AP Biology Final
               Project. Artifacts on this e-portfolio come from my experiences
               in this class. This website also provides the record of my final experiment
               I did for this class.
            </p>

            <h2>A Quick Little Joke:</h2>

            <p>{{quote}}</p>

         </div>

         <div class="six columns main-col">
            <!--<img src="{{url_for('.static', filename='images/home_footer.jpeg')}}">-->
		 <p>There will be an amazing picture here... I just need to find one...</p>
         </div>

      </div>

   </section>

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

{% endblock %}
