{% extends "bootstrap/base.html" %}

{% block title %}
Reflections - AP Bio e-portfolio
{% endblock %}

{% block metas %}
<meta charset="utf-8">
<meta name="description" content="My AP Biology final project. An e-portfolio with artifacts
				  from the class and a record of my final project. My final
				  project involves the flu virus and the BLAST program to
				  mess with the sequence of the DNA in the flu virus.">
<meta name="author" content="Mason Weaver">
<meta name="keywords" content="AP Biology, Biology, Final Project, blasting flu virus, mason weaver,
			       Advanced Placement Biology Final Project">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/default.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/layout.css')}}">
<link rel="shortcut icon" href="{{url_for('.static', filename='favicon.png')}}" >
{% endblock %}

{% block content %}
<script src="{{url_for('.static', filename='js/modernizr.js')}}"></script>
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li><a class="smoothscroll" href="/">Home</a></li>
            <li><a class="smoothscroll" href="#introduction">Introduction</a></li>
	         <li><a class="smoothscroll" href="/experiment">Experiment</a></li>
            <li><a class="smoothscroll" href="/artifacts">Artifacts</a></li>
            <li class="current"><a class="smoothscroll" href="/reflections">Reflections</a></li>
         </ul>

      </nav>

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Reflections</h1>
         </div>
      </div>

   </header>
   <section id="introduction">

      <div class="row">

        <div class="twelve columns main-col">
        	<h2>Evolution:</h2>
        	<p>
            Evolution is the overriding theme in biology. We see this with many aspects in biology with the
            idea of a common ancestor and many other cases of allelic frequency flips. Evolution is the change
            in allele frequency in a population which occurs over hundreds to thousands of years.
            An important note is that evolution does not say that humans come from monkeys, which is a main point in the debate over evolution.

            One example of evolution that was given during this class was the case of the sticklebacks fish.
            They have a trait for a spine on the bottom of their body, with the spine being the dominant trait and no spine is the recessive.
            In the ocean, this spine helps them survive by preventing them from being eaten, but when some migrated to freshwater lakes, the spine game them a reproductive disadvantage.
            This reproductive disadvantage, where a dragonfly nymph can grab their spine and eat them, caused a shift in the allele frequency where more fish in te freshwater do not have spines.
            This new population in the lake is not a new species, but the population evolved to fit their environment easier.
          </p>
        	<hr />
        	<h2>Biology Debate:</h2>
        	<p>
            Many of the medical advances and medical technologies come from biology. If we did not have biology, many people would not
            have the neccessary medical treatments that help them get better and heal. From everything from biochemistry to biotech,
            advances are being made daily that will help improve our quality of life. These advancements help us understand the natural
            world around us and could help improve our environment, and teach us how to respect the natural flow of life. The study of biology
            also is a humbling topic as we realize that humans are not the center of life. Many creatures and organisms are important to us in
            our daily lifes and our evolution. For example, much of the food we eat are helped digest by E. Coli living in our guts. These organisms
            were here long before humans and they help us digest food. These relationships between organisms are also part of the study of biology.
            Symbiotic relationships are a necessity for life and they can also explain some theories of evolution. The mitochondria that make our
            ATP and chloroplasts that are in plants are in a symbiotic relationship with the cells. The mitochondria have their own DNA and can replicate
            themselves so the theory of endosymbiosis states that the mitochondria were consumed by the cells and the the cell used them to get energy
            for it's processes. Without all this knowledge, we could not be where we are today with the technology we have, and the knowledge of the body
            and the processes in it.
          </p>
        	<hr />
        	<h2>Health and Body:</h2>
        	<p></p>
 		    </div>

      </div>

   </section>

{% endblock %}
