{% extends "bootstrap/base.html" %}

{% block title %}
Reflections - AP Bio e-portfolio
{% endblock %}

{% block metas %}
<meta charset="utf-8">
<meta name="description" content="My AP Biology final project. An e-portfolio with artifacts
				  from the class and a record of my final project. My final
				  project involves the flu virus and the BLAST program to
				  mess with the sequence of the DNA in the flu virus.">
<meta name="author" content="Mason Weaver">
<meta name="keywords" content="AP Biology, Biology, Final Project, blasting flu virus, mason weaver,
			       Advanced Placement Biology Final Project">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/default.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/layout.css')}}">
<link rel="shortcut icon" href="{{url_for('.static', filename='favicon.png')}}" >
{% endblock %}

{% block content %}
<script src="{{url_for('.static', filename='js/modernizr.js')}}"></script>
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li><a class="smoothscroll" href="/">Home</a></li>
            <li><a class="smoothscroll" href="#introduction">Introduction</a></li>
	         <li><a class="smoothscroll" href="/experiment">Experiment</a></li>
            <li><a class="smoothscroll" href="/artifacts">Artifacts</a></li>
            <li class="current"><a class="smoothscroll" href="/reflections">Reflections</a></li>
         </ul>

      </nav>

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Reflections</h1>
		 <p>Work in Progress</p>
         </div>
      </div>

   </header>
   <section id="introduction">

      <div class="row">

        <div class="twelve columns main-col">
        	<h2>Evolution:</h2>
        	<p></p>
        	<hr />
        	<h2>Biology Debate:</h2>
        	<p></p>
        	<hr />
        	<h2>Health and Body:</h2>
        	<p></p>
 		</div>

      </div>

   </section>

{% endblock %}
